In [220]:
import os
import pandas as pd

df = pd.read_excel("C:/Users/sadma/OneDrive/Desktop/chowa/00_combined.xlsx", header=1)

In [221]:
list(df.columns)

['Unnamed: 0',
 '画像ファイル名',
 '路線',
 'KP',
 '経過時間（秒）',
 '時分秒',
 '速度',
 '視程',
 'Unnamed: 8',
 'Unnamed: 9',
 '視程ランク']

In [222]:
df = df.drop(df.index[0:4])

In [223]:
df.head(10)

,Unnamed: 0,画像ファイル名,路線,KP,経過時間（秒）,時分秒,速度,視程,Unnamed: 8,Unnamed: 9,視程ランク
4,r231-140131-144430,r231-140131-144430-0000_.jpg,r231,52,0.0,14:44:33,0,2000,2000,2000,NaN
5,r231-140131-144430,r231-140131-144430-0001_.jpg,r231,52,1.0,14:44:34,0,2000,2000,2000,NaN
6,r231-140131-144430,r231-140131-144430-0002_.jpg,r231,52,2.0,14:44:35,0,2000,2000,2000,NaN
7,r231-140131-144430,r231-140131-144430-0003_.jpg,r231,52,3.0,14:44:36,0,2000,2000,2000,NaN
8,r231-140131-144430,r231-140131-144430-0004_.jpg,r231,52,4.0,14:44:37,0,2000,2000,2000,NaN
9,r231-140131-144430,r231-140131-144430-0005_.jpg,r231,52,5.0,14:44:38,0,2000,2000,2000,NaN
10,r231-140131-144430,r231-140131-144430-0006_.jpg,r231,51.998,6.0,14:44:39,5.7,2000,2000,2000,NaN
11,r231-140131-144430,r231-140131-144430-0007_.jpg,r231,51.996,7.0,14:44:40,10.2,2000,2000,2000,NaN
12,r231-140131-144430,r231-140131-144430-0008_.jpg,r231,51.992,8.0,14:44:41,10.9,2000,2000,2000,NaN
13,r231-140131-144430,r231-140131-144430-0009_.jpg,r231,51.989,9.0,14:44:42,13.3,2000,2000,2000,NaN

In [224]:
df.rename(columns={'Unnamed: 0': 'image_info',
                               '画像ファイル名': 'image_name',
                               '路線': 'lane_no',
                               'KP': 'kp',
                               '経過時間（秒）': 'elapsed_time',
                               '時分秒': 'minutes_seconds',
                               '速度': 'speed',
                               '視程': 'visibility',
                               'Unnamed: 8': 'average',
                               'Unnamed: 9': 'median',
                               '視程ランク': 'visibility_rank'
                               },
                      inplace=True)

In [225]:
df.head(20)

,image_info,image_name,lane_no,kp,elapsed_time,minutes_seconds,speed,visibility,average,median,visibility_rank
4,r231-140131-144430,r231-140131-144430-0000_.jpg,r231,52,0.0,14:44:33,0,2000,2000,2000,NaN
5,r231-140131-144430,r231-140131-144430-0001_.jpg,r231,52,1.0,14:44:34,0,2000,2000,2000,NaN
6,r231-140131-144430,r231-140131-144430-0002_.jpg,r231,52,2.0,14:44:35,0,2000,2000,2000,NaN
7,r231-140131-144430,r231-140131-144430-0003_.jpg,r231,52,3.0,14:44:36,0,2000,2000,2000,NaN
8,r231-140131-144430,r231-140131-144430-0004_.jpg,r231,52,4.0,14:44:37,0,2000,2000,2000,NaN
9,r231-140131-144430,r231-140131-144430-0005_.jpg,r231,52,5.0,14:44:38,0,2000,2000,2000,NaN
10,r231-140131-144430,r231-140131-144430-0006_.jpg,r231,51.998,6.0,14:44:39,5.7,2000,2000,2000,NaN
11,r231-140131-144430,r231-140131-144430-0007_.jpg,r231,51.996,7.0,14:44:40,10.2,2000,2000,2000,NaN
12,r231-140131-144430,r231-140131-144430-0008_.jpg,r231,51.992,8.0,14:44:41,10.9,2000,2000,2000,NaN
13,r231-140131-144430,r231-140131-144430-0009_.jpg,r231,51.989,9.0,14:44:42,13.3,2000,2000,2000,NaN
14,r231-140131-144430,r231-140131-144430-0010_.jpg,r231,51.983,10.0,14:44:43,18.5,2000,2000,2000,NaN
15,r231-140131-144430,r231-140131-144430-0011_.jpg,r231,51.977,11.0,14:44:44,21.9,2000,2000,2000,NaN
16,r231-140131-144430,r231-140131-144430-0012_a.jpg,r231,51.97,12.0,14:44:45,25.9,2000,2000,2000,A
17,r231-140131-144430,r231-140131-144430-0013_a.jpg,r231,51.962,13.0,14:44:46,28,2000,2000,2000,A
18,r231-140131-144430,r231-140131-144430-0014_a.jpg,r231,51.954,14.0,14:44:47,28.5,2000,2000,2000,A
19,r231-140131-144430,r231-140131-144430-0015_a.jpg,r231,51.946,15.0,14:44:48,28.5,2000,2000,2000,A
20,r231-140131-144430,r231-140131-144430-0016_a.jpg,r231,51.937,16.0,14:44:49,30.7,2000,2000,2000,A
21,r231-140131-144430,r231-140131-144430-0017_a.jpg,r231,51.928,17.0,14:44:50,33.3,2000,2000,2000,A
22,r231-140131-144430,r231-140131-144430-0018_a.jpg,r231,51.918,18.0,14:44:51,34.3,2000,2000,2000,A
23,r231-140131-144430,r231-140131-144430-0019_a.jpg,r231,51.908,19.0,14:44:52,35.2,2000,2000,2000,A

In [226]:
unique_kp = list(df['lane_no'].unique())
unique_kp

['r231', 'r232', 'r238']

In [227]:
unique_ranks = list(df['visibility_rank'].unique())
unique_ranks

[nan, 'A', 'B', 'C', 'D', 'E']

In [228]:
# How much data is missing? 
df.isnull().sum().sort_values(ascending=False).head()

visibility_rank    591
median             161
average            161
visibility           0
speed                0
dtype: int64

In [229]:
med = df['median'].median()

In [230]:
df['median'] = df['median'].fillna(med)

In [231]:
df.isnull().sum().sort_values(ascending=False).head()

visibility_rank    591
average            161
median               0
visibility           0
speed                0
dtype: int64

In [232]:
avg = df['average'].median()

In [233]:
df['average'] = df['average'].fillna(avg)

In [234]:
df.isnull().sum().sort_values(ascending=False).head()

visibility_rank    591
median               0
average              0
visibility           0
speed                0
dtype: int64

In [235]:
df = df[pd.notnull(df['visibility_rank'])]

In [236]:
df.isnull().sum().sort_values(ascending=False).head()

visibility_rank    0
median             0
average            0
visibility         0
speed              0
dtype: int64

In [237]:
unique_ranks = list(df['visibility_rank'].unique())
unique_ranks

['A', 'B', 'C', 'D', 'E']

In [238]:
dummies = pd.get_dummies(['A', 'B', 'C', 'D', 'E'], prefix='visibility_rank')
display(dummies)

,visibility_rank_A,visibility_rank_B,visibility_rank_C,visibility_rank_D,visibility_rank_E
0,1,0,0,0,0
1,0,1,0,0,0
2,0,0,1,0,0
3,0,0,0,1,0
4,0,0,0,0,1

In [239]:
dummies = pd.get_dummies(df['visibility_rank'], prefix='visibility_rank')

In [240]:
display(dummies[0:10])

,visibility_rank_A,visibility_rank_B,visibility_rank_C,visibility_rank_D,visibility_rank_E
16,1,0,0,0,0
17,1,0,0,0,0
18,1,0,0,0,0
19,1,0,0,0,0
20,1,0,0,0,0
21,1,0,0,0,0
22,1,0,0,0,0
23,1,0,0,0,0
24,1,0,0,0,0
25,1,0,0,0,0

In [241]:
df = pd.concat([df, dummies], axis=1)

In [242]:
df.head(15)

,image_info,image_name,lane_no,kp,elapsed_time,minutes_seconds,speed,visibility,average,median,visibility_rank,visibility_rank_A,visibility_rank_B,visibility_rank_C,visibility_rank_D,visibility_rank_E
16,r231-140131-144430,r231-140131-144430-0012_a.jpg,r231,51.97,12.0,14:44:45,25.9,2000,2000.0,2000.0,A,1,0,0,0,0
17,r231-140131-144430,r231-140131-144430-0013_a.jpg,r231,51.962,13.0,14:44:46,28,2000,2000.0,2000.0,A,1,0,0,0,0
18,r231-140131-144430,r231-140131-144430-0014_a.jpg,r231,51.954,14.0,14:44:47,28.5,2000,2000.0,2000.0,A,1,0,0,0,0
19,r231-140131-144430,r231-140131-144430-0015_a.jpg,r231,51.946,15.0,14:44:48,28.5,2000,2000.0,2000.0,A,1,0,0,0,0
20,r231-140131-144430,r231-140131-144430-0016_a.jpg,r231,51.937,16.0,14:44:49,30.7,2000,2000.0,2000.0,A,1,0,0,0,0
21,r231-140131-144430,r231-140131-144430-0017_a.jpg,r231,51.928,17.0,14:44:50,33.3,2000,2000.0,2000.0,A,1,0,0,0,0
22,r231-140131-144430,r231-140131-144430-0018_a.jpg,r231,51.918,18.0,14:44:51,34.3,2000,2000.0,2000.0,A,1,0,0,0,0
23,r231-140131-144430,r231-140131-144430-0019_a.jpg,r231,51.908,19.0,14:44:52,35.2,2000,2000.0,2000.0,A,1,0,0,0,0
24,r231-140131-144430,r231-140131-144430-0020_a.jpg,r231,51.898,20.0,14:44:53,36.9,2000,2000.0,2000.0,A,1,0,0,0,0
25,r231-140131-144430,r231-140131-144430-0021_a.jpg,r231,51.887,21.0,14:44:54,38.3,2000,2000.0,2000.0,A,1,0,0,0,0
26,r231-140131-144430,r231-140131-144430-0022_a.jpg,r231,51.876,22.0,14:44:55,38.9,2000,2000.0,2000.0,A,1,0,0,0,0
27,r231-140131-144430,r231-140131-144430-0023_a.jpg,r231,51.865,23.0,14:44:56,38.3,2000,2000.0,2000.0,A,1,0,0,0,0
28,r231-140131-144430,r231-140131-144430-0024_a.jpg,r231,51.854,24.0,14:44:57,38.3,2000,2000.0,2000.0,A,1,0,0,0,0
29,r231-140131-144430,r231-140131-144430-0025_a.jpg,r231,51.843,25.0,14:44:58,38.5,2000,2000.0,2000.0,A,1,0,0,0,0
30,r231-140131-144430,r231-140131-144430-0026_a.jpg,r231,51.832,26.0,14:44:59,39.1,2000,2000.0,2000.0,A,1,0,0,0,0

In [243]:
list(df.columns)

['image_info',
 'image_name',
 'lane_no',
 'kp',
 'elapsed_time',
 'minutes_seconds',
 'speed',
 'visibility',
 'average',
 'median',
 'visibility_rank',
 'visibility_rank_A',
 'visibility_rank_B',
 'visibility_rank_C',
 'visibility_rank_D',
 'visibility_rank_E']

In [244]:
df.drop('image_info', 1, inplace=True)

In [245]:
df.drop('visibility_rank', 1, inplace=True)

In [246]:
list(df.columns)

['image_name',
 'lane_no',
 'kp',
 'elapsed_time',
 'minutes_seconds',
 'speed',
 'visibility',
 'average',
 'median',
 'visibility_rank_A',
 'visibility_rank_B',
 'visibility_rank_C',
 'visibility_rank_D',
 'visibility_rank_E']

In [247]:
unique_lanes = list(df['lane_no'].unique())
unique_lanes

['r231', 'r232', 'r238']

In [248]:
lane_dummies = pd.get_dummies(['r231', 'r232', 'r238'], prefix='lane_no')
display(lane_dummies)

   lane_no_r231  lane_no_r232  lane_no_r238
0             1             0             0
1             0             1             0
2             0             0             1

In [249]:
lane_dummies = pd.get_dummies(df['lane_no'], prefix='lane_no')

In [250]:
lane_dummies = pd.get_dummies(df['lane_no'],prefix='lane_no')
print(lane_dummies[0:10])

    lane_no_r231  lane_no_r232  lane_no_r238
16             1             0             0
17             1             0             0
18             1             0             0
19             1             0             0
20             1             0             0
21             1             0             0
22             1             0             0
23             1             0             0
24             1             0             0
25             1             0             0

In [251]:
df = pd.concat([df, lane_dummies], axis=1)

In [252]:
df.head(5)

,image_name,lane_no,kp,elapsed_time,minutes_seconds,speed,visibility,average,median,visibility_rank_A,visibility_rank_B,visibility_rank_C,visibility_rank_D,visibility_rank_E,lane_no_r231,lane_no_r232,lane_no_r238
16,r231-140131-144430-0012_a.jpg,r231,51.97,12.0,14:44:45,25.9,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
17,r231-140131-144430-0013_a.jpg,r231,51.962,13.0,14:44:46,28,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
18,r231-140131-144430-0014_a.jpg,r231,51.954,14.0,14:44:47,28.5,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
19,r231-140131-144430-0015_a.jpg,r231,51.946,15.0,14:44:48,28.5,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
20,r231-140131-144430-0016_a.jpg,r231,51.937,16.0,14:44:49,30.7,2000,2000.0,2000.0,1,0,0,0,0,1,0,0

In [253]:
df.drop('lane_no', 1, inplace=True)

In [254]:
list(df.columns)

['image_name',
 'kp',
 'elapsed_time',
 'minutes_seconds',
 'speed',
 'visibility',
 'average',
 'median',
 'visibility_rank_A',
 'visibility_rank_B',
 'visibility_rank_C',
 'visibility_rank_D',
 'visibility_rank_E',
 'lane_no_r231',
 'lane_no_r232',
 'lane_no_r238']

In [255]:
display(df[0:5])

,image_name,kp,elapsed_time,minutes_seconds,speed,visibility,average,median,visibility_rank_A,visibility_rank_B,visibility_rank_C,visibility_rank_D,visibility_rank_E,lane_no_r231,lane_no_r232,lane_no_r238
16,r231-140131-144430-0012_a.jpg,51.97,12.0,14:44:45,25.9,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
17,r231-140131-144430-0013_a.jpg,51.962,13.0,14:44:46,28,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
18,r231-140131-144430-0014_a.jpg,51.954,14.0,14:44:47,28.5,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
19,r231-140131-144430-0015_a.jpg,51.946,15.0,14:44:48,28.5,2000,2000.0,2000.0,1,0,0,0,0,1,0,0
20,r231-140131-144430-0016_a.jpg,51.937,16.0,14:44:49,30.7,2000,2000.0,2000.0,1,0,0,0,0,1,0,0

In [256]:
df.dtypes

image_name            object
kp                    object
elapsed_time         float64
minutes_seconds       object
speed                 object
visibility            object
average              float64
median               float64
visibility_rank_A      uint8
visibility_rank_B      uint8
visibility_rank_C      uint8
visibility_rank_D      uint8
visibility_rank_E      uint8
lane_no_r231           uint8
lane_no_r232           uint8
lane_no_r238           uint8
dtype: object

In [257]:
df['minutes_seconds'] = df['minutes_seconds'].astype('str')

In [258]:
df['minutes_seconds'] = df['minutes_seconds'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [260]:
df_matrix = df[['image_name',
 'kp',
 'elapsed_time',
 'minutes_seconds',
 'speed',
 'visibility',
 'average',
 'median',
 'visibility_rank_A',
 'visibility_rank_B',
 'visibility_rank_C',
 'visibility_rank_D',
 'visibility_rank_E',
 'lane_no_r231',
 'lane_no_r232',
 'lane_no_r238']].values

In [263]:
print(df_matrix)

[['r231-140131-144430-0012_a.jpg' 51.97 12.0 ... 1 0 0]
 ['r231-140131-144430-0013_a.jpg' 51.962 13.0 ... 1 0 0]
 ['r231-140131-144430-0014_a.jpg' 51.954 14.0 ... 1 0 0]
 ...
 ['r238-140218-092727-2400_a.jpg' 228 2400.0 ... 0 0 1]
 ['r238-140218-092727-2401_a.jpg' 228 2401.0 ... 0 0 1]
 ['r238-140218-092727-2402_a.jpg' 228 2402.0 ... 0 0 1]]

In [ ]:
len()