### Data operations

In [1]:
import pandas as pd

titles = pd.read_csv('titles.csv', index_col = None)
titles.head(3)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993

In [2]:
casts = pd.read_csv('cast.csv', index_col = None)
casts.head(3)

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4  31.0
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0

##### Row and column selection

In [3]:
t = titles['title']
t.head(10)

0                    The Rising Son
1           The Thousand Plane Raid
2                  Crucea de piatra
3                           Country
4                        Gaiking II
5                       Medusa (IV)
6    The Fresh Air Will Do You Good
7                Alex in Wonderland
8                        L'outsider
9            Do Outro Lado do Mundo
Name: title, dtype: object

In [4]:
titles.loc[0]

title    The Rising Son
year               1990
Name: 0, dtype: object

##### Filtering Data

In [8]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
after85 = titles[titles['year'] > 1985]   # movies after 1985 
after85.head()

              title  year
0    The Rising Son  1990
2  Crucea de piatra  1993
3           Country  2000
4        Gaiking II  2011
5       Medusa (IV)  2015

##### Dispaly movies  in years 1990 - 1995

In [10]:
t = titles
movies_90 = t[(t['year'] >= 1990) & (t['year'] <= 1992)]
movies_90.h

                                            title  year
0                                  The Rising Son  1990
27                                   Arrive Alive  1990
32                                    Der Brocken  1992
36     The Neverending Story II: The Next Chapter  1990
47                                     Torn Apart  1990
92                             Thieves of Fortune  1990
100                   Luchadores de las estrellas  1992
140                                  Nyaya Anyaya  1990
142                        Vacaciones de terror 2  1991
150                                      Ahankari  1992
157                                     Lady Wolf  1991
194                               Bez pravosudiya  1991
197                                         Dryan  1990
278                                          Gori  1992
309                                           420  1992
385                           Pernikahan berdarah  1990
389                               Jeevana Chaitra  1992
395                                         Proof  1991
401                                Maut Ki Lakeer  1991
455                               Late for Dinner  1991
498                                 Yu ya gong wu  1992
514                     Instinto de supervivencia  1991
542                            Huang jia du chuan  1990
554                                     Tutajosok  1990
617                             Jack el vigilante  1990
723                              Los verduleros 3  1992
750                                Love Your Mama  1990
777                          Tang xi feng yue hen  1992
802                          Adventures in Spying  1992
843                        Rasuto Furankenshutain  1991
...                                           ...   ...
49127            Lucifer Sensommer - gult og sort  1990
49149                                   Agneekaal  1990
49208                          Cheongugeui gyedan  1992
49262                           Gou yeung yi sang  1992
49269                            Nafrat Ki Deewar  1992
49287      The Macc Lads: Sex, Pies and Videotape  1992
49292                            Catatan si boy 3  1990
49293                           Furia de ladrones  1991
49306                                Divertimento  1992
49313                                      Khatra  1991
49333                    Cheeta-eh: Ganda lalake?  1991
49334                             Insaaf Ka Suraj  1990
49371                      Aka to kuro no netsujo  1992
49393                                       Swarg  1990
49448                            Eyes of an Angel  1991
49475                       Byeoli bitnaneun bame  1991
49526                         Russian Pizza Blues  1992
49544                              Atto di dolore  1990
49610                                    Fortress  1992
49645                             Sokratuv podzim  1991
49656                          Al-irhab wal kabab  1992
49706                   Don Juan en los infiernos  1991
49749                             Heart Condition  1990
49764                                    Hell Spa  1992
49818                           El-Alb Wma Yeshaq  1991
49827                    Muerte por partida doble  1991
49834                         Insaan Bana Shaitan  1992
49839                                   Souhrudam  1991
49858                                  Chickboxer  1992
49987                               I Won't Dance  1992

[1453 rows x 2 columns]